{
    "planes": [
	{
            "type": "primary",
	    "format": "DRM_FORMAT_ARGB8888",
       	    "image": "background2.png",
    	    "text": {
		"str": "Pixel Alpha Blending",
		"x": "physicalw(10)",
		"y": "SCREEN_HEIGHT-physicalh(10)",
		"color": "0xffffffff",
		"size": "physicalw(24)"
	    }
	},
	{
	    "type": "overlay",
	    "index": 0,
    	    "format": "DRM_FORMAT_ARGB8888",
    	    "x": "physicalw((200 * 0) + (50 * 1))",
	    "y": "(SCREEN_HEIGHT / 2) - (physicalh(200) / 2)",
	    "width": "physicalw(200)",
	    "height": "physicalh(200)",
	    "pattern": [ "0x0000ffaa" ],
	    "move-type": [ "x-bounce", "y-bounce" ],
	    "move-xspeed": 4,
    	    "move-yspeed": -3
	},
	{
	    "type": "overlay",
	    "index": 1,
    	    "format": "DRM_FORMAT_ARGB8888",
       	    "x": "physicalw((200 * 1) + (50 * 2))",
	    "y": "(SCREEN_HEIGHT / 2) - (physicalh(200) / 2)",
	    "width": "physicalw(200)",
	    "height": "physicalh(200)",
	    "pattern": [ "0x00ff00aa" ],
    	    "move-type": [ "x-bounce", "y-bounce" ],
	    "move-xspeed": 4,
       	    "move-yspeed": 3
	},
	{
	    "enabled": "checkplane('overlay', 2)",
	    "type": "overlay",
	    "index": 2,
    	    "format": "DRM_FORMAT_ARGB8888",
      	    "x": "physicalw((200 * 2) + (50 * 3))",
	    "y": "(SCREEN_HEIGHT / 2) - (physicalh(200) / 2)",
	    "width": "physicalw(200)",
	    "height": "physicalh(200)",
	    "pattern": [ "0xff0000aa"],
	    "move-type": [ "x-bounce", "y-bounce"],
    	    "move-xspeed": 2,
	    "move-yspeed": 3
	},
	{
            "enabled": "checkplane('cursor', 0)",
            "type": "cursor",
            "index": 0,
            "format": "DRM_FORMAT_ARGB8888",
            "x": "physicalw((200 * 2) + (50 * 3))",
            "y": "(SCREEN_HEIGHT / 2) - (physicalh(200) / 2)",
            "width": "physicalw(128)",
            "height": "physicalh(128)",
            "pattern": [ "0xff0000aa"],
            "move-type": [ "x-bounce", "y-bounce"],
            "move-xspeed": 2,
            "move-yspeed": 3
        }
    ]
}
