{
    "planes": [
	{
            "type": "primary",
	    "format": "DRM_FORMAT_ARGB8888",
       	    "image": "background2.png",
    	    "text": {
		"str": "Pixel Alpha Blending",
		"x": 10,
		"y": 460,
		"color": "0xffffffff"
	    }
	},
	{
	    "type": "overlay",
	    "index": 0,
    	    "format": "DRM_FORMAT_ARGB8888",
	    "x": 0,
	    "y": 140,
	    "width": 200,
	    "height": 200,
	    "pattern": [ "0x0000ffaa" ],
	    "move-type": [ "x-bounce", "y-bounce" ],
	    "move-xspeed": 6,
    	    "move-yspeed": -5
	},
	{
	    "type": "overlay",
	    "index": 1,
    	    "format": "DRM_FORMAT_ARGB8888",
	    "x": 600,
	    "y": 140,
	    "width": 200,
	    "height": 200,
	    "pattern": [ "0x00ff00aa" ],
    	    "move-type": [ "x-bounce", "y-bounce" ],
	    "move-xspeed": 6,
       	    "move-yspeed": 5
	},
	{
	    "type": "overlay",
	    "index": 2,
    	    "format": "DRM_FORMAT_ARGB8888",
	    "x": 300,
	    "y": 140,
	    "width": 200,
	    "height": 200,
	    "pattern": [ "0xff0000aa"],
	    "move-type": [ "x-bounce", "y-bounce"],
    	    "move-xspeed": 3,
	    "move-yspeed": 4
	}
    ]
}
