{
    "planes": [
	{
            "type": "primary",
       	    "patch": true,
	    "format": "DRM_FORMAT_XRGB8888",
    	    "text": [
	    {
		"str": "Primary 0",
		"x": "1%",
		"y": "98%",
      		"color": "0x000000ff"
	    },
	    {
		"str": "Hardware Planes",
		"x": "1%",
		"y": "8%",
      		"color": "0xffffffff"
	    }
	    ]
	},
	{
	    "type": "overlay",
	    "index": 0,
	    "x": "11.25%",
	    "y": "29.5%",
	    "width": "25%",
	    "height": "41%",
       	    "pattern": [ "0x0000ffff", "0xffffffff" ],
	    "format": "DRM_FORMAT_ARGB8888",
       	    "text": {
		"str": "Overlay 0",
		"x": "5%",
		"y": "95%",
      		"color": "0x000000ff"
	    }
	},
	{
	    "type": "overlay",
	    "index": 1,
	    "x": "37.5%",
	    "y": "29.5%",
    	    "width": "25%",
	    "height": "41%",
       	    "pattern": [ "0x00ff00ff", "0xffffffff" ],
    	    "format": "DRM_FORMAT_ARGB8888",
      	    "text": {
		"str": "Overlay 1",
		"x": "5%",
		"y": "95%",
		"color": "0x000000ff"
	    }
	},
	{
	    "type": "overlay",
	    "index": 2,
	    "x": "63.75%",
	    "y": "29.5%",
	    "width": "25%",
	    "height": "41%",
	    "pattern": [ "0xff0000ff", "0xffffffff" ],
	    "format": "DRM_FORMAT_ARGB8888",
	    "text": {
		"str": "Overlay 2",
		"x": "5%",
		"y": "95%",
      		"color": "0x000000ff"
	    }
	}
    ]
}
