{
    "planes": [
	{
            "type": "primary",
    	    "format": "DRM_FORMAT_ARGB8888",
            "image": "background1.png"
	},
	{
	    "type": "overlay",
	    "index": 2,
	    "x": 250,
	    "y": 90,
	    "width": 1580,
	    "height": 480,
	    "format": "DRM_FORMAT_ARGB8888",
	    "image": "view.png",
	    "pan-x": 0,
	    "pan-y": 40,
	    "pan-width": 300,
	    "pan-height": 300,
    	    "move-type": [ "panx-bounce","y-bounce-custom" ],
	    "move-xspeed": 2,
	    "move-yspeed": 2,
    	    "move-panxspeed": 2,
    	    "move-ymax": 180,
    	    "move-ymin": 0
	},
	{
	    "type": "overlay",
	    "index": 0,
    	    "format": "DRM_FORMAT_ARGB8888",
	    "x": 300,
	    "y": 140,
	    "width": 200,
	    "height": 200,
	    "pattern": [ "0xffffff55" ],
	    "move-type": [ "x-bounce", "y-bounce" ],
	    "move-xspeed": 4,
    	    "move-yspeed": 3
	},
	{
	    "type": "overlay",
	    "index": 1,
    	    "format": "DRM_FORMAT_ARGB8888",
	    "x": 0,
	    "y": 0,
	    "width": 800,
	    "height": 480,
	    "pattern": [ "0x00000000" ],
       	    "text": {
		"str": "Moving Overlay Pan with Alpha Blending",
		"x": 10,
		"y": 460,
    		"color": "0xffffffff"
	    }
	}
    ]
}
