{
    "planes": [
	{
            "type": "primary",
    	    "format": "DRM_FORMAT_ARGB8888",
            "image": "background1.png"
	},
	{
	    "type": "overlay",
	    "index": 1,
	    "x": "(SCREEN_WIDTH / 2) - (physicalw(300) / 2)",
	    "y": "physicalh(90)",
	    "width": "physicalw(1580)",
	    "height": "physicalh(480)",
	    "format": "DRM_FORMAT_ARGB8888",
	    "image": "view.png",
	    "pan-x": 0,
	    "pan-y": "physicalh(40)",
	    "pan-width": "physicalw(300)",
	    "pan-height": "physicalh(300)",
    	    "move-type": [ "panx-bounce","y-bounce-custom" ],
	    "move-xspeed": 2,
	    "move-yspeed": 2,
    	    "move-panxspeed": 2,
    	    "move-ymax": "physicalh(180)",
    	    "move-ymin": 0
	},
	{
	    "type": "overlay",
	    "index": 0,
    	    "format": "DRM_FORMAT_ARGB8888",
	    "x": 0,
	    "y": 0,
	    "width": "SCREEN_WIDTH",
	    "height": "SCREEN_HEIGHT",
	    "pattern": [ "0x00000000" ],
       	    "text": {
		"str": "Moving Overlay Pan",
		"x": "physicalw(10)",
		"y": "SCREEN_HEIGHT-physicalh(10)",
    		"color": "0xffffffff",
		"size": "physicalw(24)"
	    }
	}
    ]
}
