{
    "planes": [
	{
            "type": "primary",
    	    "format": "DRM_FORMAT_ARGB8888",
 	    "image": "clouds.png",
     	    "text": {
		"str":  "Overlay Movement",
		"x": "physicalw(10)",
		"y": "SCREEN_HEIGHT-physicalh(10)",
		"color": "0x000000ff",
		"size": "physicalw(24)"
	    }
	},
	{
	    "type": "overlay",
	    "format": "DRM_FORMAT_ARGB8888",
	    "index": 0,
	    "x": 0,
	    "y": "physicalh(54)",
	    "width": "physicalw(200)",
	    "height": "physicalh(160)",
	    "image": "plane1.png",
	    "move-type": ["x-warp"],
	    "move-xspeed": 8
	},
	{
	    "type": "overlay",
	    "format": "DRM_FORMAT_ARGB8888",
	    "index": 1,
	    "x": 0,
	    "y": "physicalh(178)",
	    "width": "physicalw(200)",
	    "height": "physicalh(160)",
	    "image": "plane2.png",
	    "move-type": ["x-bounce-out"],
	    "move-xspeed": 3,
	    "transform": ["flip-horizontal"]
	},
	{
	    "enabled": "checkplane('overlay', 2)",
	    "type": "overlay",
	    "format": "DRM_FORMAT_ARGB8888",
	    "index": 2,
	    "x": 0,
	    "y": "physicalh(298)",
	    "width": "physicalw(200)",
	    "height": "physicalh(160)",
	    "image": "plane3.png",
	    "move-type": ["x-bounce-out"],
	    "move-xspeed": 6
	},
	{
            "enabled": "checkplane('cursor', 0)",
            "type": "cursor",
            "format": "DRM_FORMAT_ARGB8888",
            "index": 0,
            "x": 0,
            "y": "physicalh(298)",
            "width": "physicalw(128)",
            "height": "physicalh(128)",
            "image": "plane3.png",
            "move-type": ["x-bounce-out"],
            "move-xspeed": 6
        }
    ]
}
