{
    "planes": [
	{
            "type": "primary",
    	    "format": "DRM_FORMAT_ARGB8888",
 	    "image": "clouds.png",
     	    "text": {
		"str":  "Overlay Movement",
		"x": "physicalw(10)",
		"y": "SCREEN_HEIGHT-physicalh(10)",
		"color": "0x000000ff",
		"size": "physicalw(24)"
	    }
	},
	{
	    "type": "overlay",
	    "format": "DRM_FORMAT_ARGB8888",
	    "index": 0,
	    "x": 0,
	    "y": "physicalh(24)",
	    "width": "physicalw(200)",
	    "height": "physicalh(160)",
	    "image": "plane1.png",
	    "move-type": ["x-warp"],
	    "move-xspeed": 8
	},
	{
	    "type": "overlay",
	    "format": "DRM_FORMAT_ARGB8888",
	    "index": 1,
	    "x": 0,
	    "y": "physicalh(158)",
	    "width": "physicalw(200)",
	    "height": "physicalh(160)",
	    "image": "plane2.png",
	    "move-type": ["x-bounce-out"],
	    "move-xspeed": 3,
	    "transform": ["flip-horizontal"]
	},
	{
	    "type": "overlay",
	    "format": "DRM_FORMAT_ARGB8888",
	    "index": 2,
	    "x": 0,
	    "y": "physicalh(288)",
	    "width": "physicalw(200)",
	    "height": "physicalh(160)",
	    "image": "plane3.png",
	    "move-type": ["x-bounce-out"],
	    "move-xspeed": 6
	}
    ]
}
