{
    "planes": [
	{
            "type": "primary",
    	    "format": "DRM_FORMAT_ARGB8888",
 	    "image": "clouds.png",
     	    "text": {
		"str":  "Overlay Movement",
		"x": 10,
		"y": 460,
       		"color": "0xffffffff"
	    }
	},
	{
	    "type": "overlay",
	    "format": "DRM_FORMAT_ARGB8888",
	    "index": 0,
	    "x": 0,
	    "y": 50,
	    "width": 200,
	    "height": 160,
	    "image": "plane1.png",
	    "move-type": ["x-warp"],
	    "move-xspeed": 8,
	    "alpha": "0x10"
	},
	{
	    "type": "overlay",
	    "format": "DRM_FORMAT_ARGB8888",
	    "index": 1,
	    "x": 0,
	    "y": 180,
	    "width": 200,
	    "height": 160,
	    "image": "plane2.png",
	    "move-type": ["x-bounce-out"],
	    "move-xspeed": 3,
	    "transform": ["flip-horizontal"]
	},
	{
	    "type": "overlay",
	    "format": "DRM_FORMAT_ARGB8888",
	    "index": 2,
	    "x": 0,
	    "y": 300,
	    "width": 200,
	    "height": 160,
	    "image": "plane3.png",
	    "move-type": ["x-bounce-out"],
	    "move-xspeed": 6
	}
    ]
}
