{
    "framedelay": 40,
    "planes": [
	{
            "type": "primary",
	    "format": "DRM_FORMAT_ARGB8888",
	    "image": "background6.png",
    	    "text": {
		"str": "Rotate Overlays",
		"x": 10,
		"y": 460,
		"color": "0xffffffff"
	    }
	},
	{
	    "type": "overlay",
	    "index": 0,
    	    "format": "DRM_FORMAT_ARGB8888",
	    "x": 0,
	    "y": 100,
	    "width": 100,
	    "height": 100,
	    "image": "satellite.png",
	    "move-type": [ "x-bounce", "y-bounce" ],
	    "move-xspeed": 3,
    	    "move-yspeed": -2,
	    "transform": [ "rotate-clockwise" ]
	},
	{
	    "type": "overlay",
	    "index": 1,
    	    "format": "DRM_FORMAT_ARGB8888",
	    "x": 600,
	    "y": 100,
	    "width": 100,
	    "height": 100,
	    "image": "satellite.png",
    	    "move-type": [ "x-bounce", "y-bounce" ],
	    "move-xspeed": -4,
       	    "move-yspeed": 2,
	    "transform": [ "rotate-cclockwise" ]
	},
	{
	    "type": "overlay",
	    "index": 2,
    	    "format": "DRM_FORMAT_ARGB8888",
	    "x": 300,
	    "y": 100,
	    "width": 100,
	    "height": 100,
	    "image": "satellite.png",
	    "move-type": [ "x-bounce", "y-bounce"],
    	    "move-xspeed": 2,
	    "move-yspeed": 1,
	    "transform": [ "rotate-clockwise" ]
	}
    ]
}
