{
    "planes": [
        {
            "type": "primary",
            "format": "DRM_FORMAT_ARGB8888",
            "image": "grass.png",
            "text": {
		"str": "Sprite Animation",
		"x": 10,
		"y": 460,
		"color": "0xffffffff"
	    }
        },
	{
	    "type": "overlay",
    	    "format": "DRM_FORMAT_ARGB8888",
	    "index": 1,
	    "x": 350,
            "y": 235,
            "width": 584,
            "height": 438,
            "image": "rooster.png",
            "sprite-x": 0,
            "sprite-y": 0,
            "sprite-width": 146,
            "sprite-height": 146,
            "sprite-count": 12,
            "move-type": [ "sprite", "x-warp" ],
	    "move-xspeed" : 7,
            "name": "overlay2"
	}
    ]
}
