{
    "planes": [
        {
            "type": "primary",
            "format": "DRM_FORMAT_ARGB8888",
            "image": "grass.png",
            "text": {
		"str": "2D Sprite Animation",
		"x": "physicalw(10)",
		"y": "SCREEN_HEIGHT-physicalh(10)",
		"color": "0xffffffff",
		"size": "physicalw(24)"
	    }
        },
	{
	    "type": "overlay",
    	    "format": "DRM_FORMAT_ARGB8888",
	    "index": 1,
	    "x": 0,
	    "y": "physicalh(235)",
            "width": "physicalw(584)",
            "height": "physicalh(438)",
            "image": "rooster.png",
            "sprite-x": 0,
            "sprite-y": 0,
            "sprite-width": "physicalw(146)",
            "sprite-height": "physicalh(146)",
            "sprite-count": 12,
            "move-type": [ "sprite", "x-warp" ],
	    "move-xspeed" : "SCREEN_WIDTH / 133",
            "name": "overlay2"
	}
    ]
}
