{
    "framedelay": 10,
    "planes": [
	{
            "type": "primary",
    	    "format": "DRM_FORMAT_ARGB8888",
            "image": "background3.png"
	},
	{
	    "type": "overlay",
	    "index": 1,
	    "x": 0,
	    "y": 0,
	    "width": "SCREEN_WIDTH",
	    "height": "SCREEN_HEIGHT",
	    "format": "DRM_FORMAT_ARGB8888",
	    "image": "view2.png",
	    "pan-x": 0,
	    "pan-y": 0,
	    "pan-width": "SCREEN_WIDTH",
	    "pan-height": "SCREEN_HEIGHT/4",
    	    "move-type": [ "pany-bounce", "y-bounce-custom" ],
	    "move-yspeed": 1,
    	    "move-panyspeed": 1,
       	    "move-ymax": "(SCREEN_HEIGHT/4) * 3",
   	    "move-ymin": 0
	},
	{
	    "type": "overlay",
	    "index": 0,
	    "x": 0,
	    "y": "(SCREEN_HEIGHT/4) * 3",
	    "width": "SCREEN_WIDTH",
	    "height": "SCREEN_HEIGHT/4",
       	    "pattern": [ "0x00000000" ],
	    "format": "DRM_FORMAT_ARGB8888",
            "text": {
		"str": "Overlay Window Panning",
		"x": "physicalw(10)",
		"y": "(SCREEN_HEIGHT/4)-physicalh(10)",
		"color": "0xffffffff",
		"size": "physicalw(24)"
	    }
	}
    ]
}
